{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Account</title>

    <link rel="stylesheet" href="{% static 'accounts/css/account.css' %}">
</head>
<body>

    <div class="account-page">
        <div class="sidebar">

            <h2>SoulMates</h2>

            <ul>
                <li><a href="{% url 'home' %}">Start Shopping</a></li>
                <li><a href="{% url 'orders' %}">My Orders</a></li>
                <li><a href="{% url 'cart_page' %}">Cart</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>

        </div>

        
        <div class="main-content">

            <div class="welcome-card">
                <h1>Welcome, {{ user.username }}</h1>
                <p>Manage your account and track your orders.</p>
            </div>

            
            <div class="profile-section">

                <div class="profile-card">
                    <h3>User Information</h3>

                    <p><strong>Username:</strong> {{ user.username }}</p>
                    <p><strong>Email:</strong> {{ user.email }}</p>
                    <p><strong>Date Joined:</strong> {{ user.date_joined }}</p>
                </div>

                <!-- Stats -->
                <div class="stats-card">
                    <h3>Account Stats</h3>

                    <p>🛒 Orders: 0</p>
                    <p>❤️ Wishlist Items: 0</p>
                    <p>👟 Cart Products: 0</p>
                    <p>account credites :0</p>
                </div>

            </div>

            <!-- Quick Actions -->
            <div class="actions">

                <a href="{% url 'product_list' %}">Shop Shoes</a>
                <a href="{% url 'cart_page' %}">My Wishlist</a>
                <a href="{% url 'orders' %}">Track Orders</a>

            </div>

        </div>

    </div>

</body>
</html>