{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">

<div class="login-container">

    #This represnt single line comment in project i want to makde basic modification for project thats why im adding this comment 

    <div class="login-box">
        <h2>Welcome Back</h2>
        <p class="subtitle">Login to continue shopping on Soulmates.</p>
        <form action="" method="POST">
            {% csrf_token %}

            <input type="text" placeholder="Enter Username" name="username">

            <input type="password" placeholder="Enter Password" name="password">

            <button type="submit">Login</button>
        </form>

        <a href="{% url 'register' %}" class="register-link">
            You don't have an account?
        </a>
    </div>
</div>

{% endblock %}