{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'accounts/css/register.css' %}">

<div class="register-container">

    <div class="register-box">

        <h2>Create Account</h2>
        <p class="subtitle">Join Soulmates and start shopping today.</p>

        <form action="" method="POST">
            {% csrf_token %}

            <input type="email" placeholder="Enter Email" name="email">

            <input type="text" placeholder="Enter Username" name="username">

            <input type="password" placeholder="Enter Password" name="password">

            <button type="submit">Register</button>
        </form>

        <a href="{% url 'login' %}" class="login-link">
            Already have an account?
        </a>

    </div>

</div>

{% endblock %}