{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'home/css/home.css' %}">

<main class="main">

<section class="hero">

    <div class="hero-container">

        <div class="hero-text">
            <h1>Step Into Style & Comfort</h1>

            <p>
                Discover premium footwear crafted for comfort, durability, 
                and everyday elegance.
            </p>

            <div class="hero-buttons">

                <a href="{% url 'product_list' %}">
                    <button class="btn primary-btn">
                        Shop Now
                    </button>
                </a>

                <a href="{% url 'developer' %}">
                    <button class="btn secondary-btn">
                        Developer
                    </button>
                </a>

            </div>
        </div>

        <div class="hero-image">
            <img src="https://thumbs.dreamstime.com/b/pair-men-s-casual-white-shoes-marble-background-pair-men-s-casual-white-shoes-marble-background-404782427.jpg" alt="Shoes">
        </div>

    </div>

</section>
<section class="category-section">

    <div class="category-header">
        <h2>SHOP BY CATEGORY</h2>
        <p class="category-subtext">
            Explore trending styles curated just for you
        </p>
    </div>

    <div class="category-container">

        <!-- Card 1 -->
        <div class="category-card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbUUrFD7qATh1Or4N-SdSi9a5BZSus_w4FZg&s" alt="">
            <div class="category-overlay">
                <h3>Casual Shoes</h3>
                <p>40-80% OFF</p>
                <span>Shop Now</span>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="category-card">
            <img src="https://images.unsplash.com/photo-1600185365483-26d7a4cc7519" alt="">
            <div class="category-overlay">
                <h3>Sports Shoes</h3>
                <p>30-70% OFF</p>
                <span>Shop Now</span>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="category-card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpC7r14mPeoxSgPQwRL1vyfaM37-8zl6yXQQ&s" alt="">
            <div class="category-overlay">
                <h3>Stakes Shoes</h3>
                <p>50-80% OFF</p>
                <span>Shop Now</span>
            </div>
        </div>

        <!-- Card 4 -->
        <div class="category-card">
            <img src="https://images.unsplash.com/photo-1542291026-7eec264c27ff" alt="">
            <div class="category-overlay">
                <h3>Sneakers</h3>
                <p>30-60% OFF</p>
                <span>Shop Now</span>
            </div>
        </div>

        <!-- Card 5 -->
        <div class="category-card">
            <img src="https://rukminim2.flixcart.com/image/480/640/xif0q/shoe/9/j/o/7-dk3285-41-danwalk-navy-original-imahgxzgjxxjfz9w.jpeg?q=90" alt="">
            <div class="category-overlay">
                <h3>Daily Wear</h3>
                <p>40-75% OFF</p>
                <span>Shop Now</span>
            </div>
        </div>

    </div>

   
    <div class="category-actions-bottom">
        <a href="{% url 'product_list' %}" class="see-more-btn">See More</a>
        <a href="{% url 'developer' %}" class="developer-btn">Developer</a>
    </div>

</section>

<section class="promo-section">

    <div class="promo-content">
        <h2>Walk with Confidence 👟</h2>

        <p>
            At SOULMATES, we believe shoes are more than fashion — 
            they define your journey. Discover designs crafted for 
            performance, comfort, and timeless style.
        </p>

        <a href="{% url 'product_list' %}">
            <button class="btn primary-btn">Explore Collection</button>
        </a>
    </div>

</section>

</main>

{% endblock %}
