{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'home/css/home.css' %}">

<main class="main">

    <section>
        <div class="main_div">
            
         <span>
           <h1>Lorem ipsum dolor sit amet.</h1>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, quia?</p> 
           <button  onclick="gonext()">Explore More</button>
         </span>   
        <img src="https://thumbs.dreamstime.com/b/pair-men-s-casual-white-shoes-marble-background-pair-men-s-casual-white-shoes-marble-background-404782427.jpg" alt="">
        </div>
        
        
    </section>



</main>

<script>

    function gonext() {
        window.location.href="{% url 'product_list' %}"
        
    }
</script>

{% endblock %}