.cart-wrapper{
    width:80%;
    margin:50px auto;
    font-family:'Poppins', sans-serif;
}

.cart-title{
    font-size:28px;
    margin-bottom:25px;
}

/* container */

.cart-container{
    display:flex;
    flex-direction:column;
    gap:20px;
}

/* cart item card */

.cart-item{

    display:flex;
    align-items:center;

    background:white;

    padding:20px;

    border-radius:10px;

    box-shadow:0 4px 10px rgba(0,0,0,0.08);

    transition:0.2s;

}

.cart-item:hover{
    transform:scale(1.01);
}

/* product image */

.cart-image img{
    width:90px;
    height:90px;
    object-fit:contain;
    margin-right:25px;
}

/* info */

.cart-info h3{
    font-size:18px;
    margin-bottom:6px;
}

.price{
    font-weight:600;
    margin-bottom:4px;
}

.qty{
    color:#666;
}

