.orders-container{
    width: 92%;
    margin: 40px auto;
}

.orders-container h1{
    font-size: 34px;
    margin-bottom: 30px;
}

.order-card{
    background: white;

    border-radius: 18px;

    padding: 25px;

    margin-bottom: 30px;

    box-shadow: 0 5px 20px rgba(0,0,0,0.08);
}

.order-top{
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 20px;

    flex-wrap: wrap;

    border-bottom: 1px solid #eee;

    padding-bottom: 20px;
}

.label{
    color: gray;
    font-size: 14px;
    margin-bottom: 5px;
}

.status{
    padding: 8px 16px;
    border-radius: 30px;

    font-size: 14px;
    font-weight: 600;
}

.pending{
    background: #fff3cd;
    color: #856404;
}

.confirmed{
    background: #d4edda;
    color: #155724;
}

.shipped{
    background: #d1ecf1;
    color: #0c5460;
}

.delivered{
    background: #d4edda;
    color: green;
}

.cancelled{
    background: #f8d7da;
    color: #721c24;
}

.order-items{
    margin-top: 25px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item{
    display: flex;
    align-items: center;

    gap: 20px;

    padding: 15px;

    border-radius: 14px;

    background: #f9f9f9;
}

.item img{
    width: 90px;
    height: 90px;

    object-fit: cover;

    border-radius: 12px;
}

.item-details h4{
    margin-bottom: 8px;
}

.item-details p{
    color: #555;
    margin-bottom: 5px;
}

.empty-orders{
    text-align: center;

    padding: 100px 20px;
}

.empty-orders h2{
    font-size: 35px;
    margin-bottom: 15px;
}

.empty-orders p{
    color: gray;
    margin-bottom: 30px;
}

.empty-orders a{
    text-decoration: none;

    background: black;
    color: white;

    padding: 14px 30px;

    border-radius: 12px;
}