{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'products/css/category_products.css' %} ">
<div class="container">

    <h2 class="title">
        {% if selected_category %}
            {{ selected_category }} Shoes
        {% else %}
            All Products
        {% endif %}
    </h2>

    <div class="products-grid">
    {% for product in products %}
        <div class="card">

            <!-- Image -->
            <img src="{{ product.image }}" alt="{{ product.name }}">

            <!-- Content -->
            <div class="card-content">
                <h3>{{ product.name }}</h3>
                <p>{{ product.description }}</p>
                <p class="rating">⭐ {{ product.rating }} ratings</p>
            </div>

            <!-- Footer (BOTTOM FIX) -->
            <div class="card-footer">
                <div class="price">$ {{ product.price }}</div>

                <a href="{% url 'product_details' product.id %}" class="btn">
                    View Details
                </a>
            </div>

        </div>
    {% empty %}
        <p>No products found in this category.</p>
    {% endfor %}
</div>

{% endblock %}