{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'products/css/product_details.css' %}">

<div class="product-detail">

    <div class="image-section">
        <img src="{{ product.image }}" alt="{{ product.name }}" class="big-img">
    </div>

    <div class="info">

        <h1>{{ product.name }}</h1>

        <p class="price">$ {{ product.price }}</p>

        <p class="cat"><strong>Category:</strong> {{ product.category }}</p>

        <p class="rating">⭐ {{ product.rating }} ratings</p>
        

        <p class="desc">{{ product.description }}</p>

        <a href="{% url 'add_to_cart' product.id %}">
            <button class="buy">Add to Cart</button>
        </a>

        <a href="{% url 'checkout' %}">
            <button class="wishlist">Buy Now</button>
        </a>
    </div>

</div>

{% endblock %}
