{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">


<main class="main">
    {% for p in products %}
    <section class="sec1">
        <a href="{% url 'product_detail' p.id %}">
        <div class="div1">
            <img src="{{ p.image.url }}" alt="{{ p.title }}">
            <h3>{{ p.name }}</h3>
            <p>{{ p.category }}</p>
            <p>$ {{ p.price }}</p>
            <button>BUY NOW</button>
        </div>
        </a>
    </section>
    {% endfor %}
</main>



{% endblock %}