*{
    color: black;
}

.main {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 items per row */
    gap: 20px; /* space between items */
    padding: 20px;
    margin-top: 50px; 
}

.sec1 {
    background: #fff;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.sec1 img {
    width: 100%;
    height: 200px;
    object-fit: cover; /* prevents image stretching */
    border-radius: 8px;
}
