
.product-detail {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 20px;
}

.big-img {
    width: 450px;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: -100px;
}

.info h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

.price {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.desc {
    margin-top: 15px;
    line-height: 1.6;
}

.buy{
    background-color: aquamarine;
    height: 35px;
    width: 100px;
}

.wishlist{
    height: 35px;
    width: 180px;
    background-color: white;
}