{% extends 'base.html' %}
{% load static %}

{% block content %}


<link rel="stylesheet" href="{% static 'wishlist/css/wishlist.css' %}">
<div class="info">

{{% empty %}}
<h2>NO elements in wishlist</h2>

    <h1>{{ product.name }}</h1>
    <p class="price">$ {{ product.price }}</p>
    <p class="cat">Category: {{ product.catagory }}</p>
    <p class="desc">{{ product.description }}</p>
    <p>⭐ {{ product.rating }} ratings</p>

    <section>
        <button class="buy">BUY NOW</button>

        <a  href="{% url 'add_to_wishlist' product.id %}">❤️ Add to Wishlist</a>

            
        

    </section>
</div>


{% endblock %}
