body{
    color: white;
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}

.navbar{
    
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;   /* keeps it above everything */
    background-color: rgb(223, 222, 222); /* or your color */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    gap:10px;
    position: fixed;
    
}

.first{
    width: 600px;
    background-color: antiquewhite;
    
}
.navbar_span{
    display: flex;
    width: 180px;
    gap: 15px;
    margin-right: -500px;
}
input{
    height: 25px;
    width: 200px;
    border-radius: 15px;
}

a {
    font-size: 12px;
    text-decoration: none;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    gap: 5px;
   
}

a img{
    height: 20px;
    width: 20px;
}

.footer{
    background-color: rgb(223, 222, 222);;
    text-decoration-color: white;
    display: flex;
    justify-content: first baseline;
}
