body{
    color: white;
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}
a, a:visited, a:active {
    color: black !important;
    text-decoration: none !important;
}
a:hover {
    color: rgb(61, 61, 61) !important;
}

.navbar{
    
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;   /* keeps it above everything */
    background-color: rgb(223, 222, 222); /* or your color */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    gap:10px;
    position: fixed;
    
}

.first{
    width: 600px;
    background-color: antiquewhite;
    
}
.navbar_span{
    display: flex;
    width: 180px;
    gap: 15px;
    margin-right: -500px;
}
input{
    height: 25px;
    width: 250px;
    border-radius: 15px;
    padding: 4px;
}
#searchBtn{
    background-color: aquamarine;
    height: 30px;
    width: 70px;
    border-radius: 10px;
    padding: 1px;
}

a {
    font-size: 12px;
    text-decoration: none;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    gap: 5px;
   
}

a img{
    height: 20px;
    width: 20px;
}

.footer{
    background-color: rgb(223, 222, 222);;
    text-decoration-color: white;
    display: flex;
    justify-content: first baseline;
}
/* --- CATEGORY DROPDOWN FIX --- */
.category-wrapper {
    position: relative; 
    display: inline-block;
}

/* Dropdown box */
#categoryList {
    position: absolute;
    top: 45px;               /* Exactly under navbar height */
    left: 50%;               /* Start from middle of the button */
    transform: translateX(-50%);  /* Perfect center alignment */
    width: 220px;

    background: rgb(239, 236, 236);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.15);

    z-index: 99999;           
    display: none;     
    position: fixed;                
}


#categoryList ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#categoryList li {
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
}

#categoryList li:hover {
    background: #f5f5f5;
    border-radius: 8px;
}



