{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>SOULMATES</title>

<link rel="stylesheet" href="{% static 'base.css' %}">

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

</head>

<body>

<header class="navbar">

    <div class="nav-left">
        <h2 class="logo">SOULMATES</h2>
    </div>

    <div class="nav-center">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'product_list' %}">Shop</a>
        <a href="#">Categories</a>
        <a href="{% url 'developer' %}">Contact</a>
    </div>

    <div class="nav-right">

       <div class="nav-search">
        <input type="text" id="search-input" placeholder="Search products..." onkeyup="searchProduct()"> <button onclick="searchProduct()">Search</button> 
        <div id="search-results" class="search-results"></div>
        </div>

        <div class="nav-icons">

            <a href="{% url 'cart_page' %}" class="icon-link">
                <img src="https://cdn-icons-png.flaticon.com/512/263/263142.png">
                <span>Cart</span>
            </a>

            <a href="{% url 'account' %} " class="icon-link">
                <img src="https://cdn-icons-png.flaticon.com/512/747/747376.png">
                <span>Account</span>
            </a>

        </div>

    </div>

</header>

<main>

{% block content %}

{% endblock %}

</main>


<footer class="footer">

<div class="footer-container">

<div class="footer-about">
<h3>SOULMATES</h3>
<p>Premium footwear designed for comfort and style.</p>
</div>

<div class="footer-links">
<h4>Links</h4>
<a href="{% url 'home' %}">Home</a>
<a href="{% url 'developer' %}">Developer</a>
</div>

<div class="footer-social">
<h4>Connect</h4>
<a href="https://github.com/siddhesh-dev">GitHub</a>
<a href="https://linkedin.com">LinkedIn</a>
</div>

</div>

<p class="footer-bottom">© 2025 SOULMATES</p>

</footer>

</body>
<script>
function searchProduct() {
    let query = document.getElementById("search-input").value;
    let resultsBox = document.getElementById("search-results");

    if (query.length === 0) {
        resultsBox.innerHTML = "";
        return;
    }

    fetch(`/products/search-products/?q=${query}`)
        .then(response => response.json())
        .then(data => {
            let html = "";

            if (data.length === 0) {
                html = "<p>No products found</p>";
            } else {
                data.forEach(product => {
                    html += `<div class="search-item" onclick="goToProduct(${product.id})">
                                ${product.name}
                             </div>`;
                });
            }

            resultsBox.innerHTML = html;
        });
}

function goToProduct(id) {
    window.location.href = `/products/product/${id}/`;
}
</script>
</html>