{% extends "base.html" %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static 'carts/css/carts.css' %}">

<div class="cart-wrapper">

<h1 class="cart-title">Your Cart</h1>

<div class="cart-container">

{% for item in items %}

<div class="cart-item">

<div class="cart-image">
<img src="{{ item.product.image }}">
</div>

<div class="cart-info">

<h3>{{ item.product.name }}</h3>

<p class="price">₹ {{ item.product.price }}</p>

<p class="qty">Quantity: {{ item.quantity }}</p>

</div>

</div>

{% empty %}

<h2>Your cart is empty</h2>

{% endfor %}

</div>

</div>

{% endblock %}